
# ==============================
# MONGODB ATLAS – MODO REVISIÓN
# ==============================
# Se creó un usuario temporal en MongoDB Atlas exclusivamente
# para la revisión del proyecto ENTREGABLE3
#
# El usuario que revise el proyecto tiene permisos readWrite únicamente sobre
# la base de datos "negocio", la cual tiene las colecciones de carts y productos

# El usuario será eliminado una vez recibida la retroalimentación.

# ==============================
# INSTRUCCIONES PARA EL PROFESOR
# ==============================
# Crear un archivo ".env" en la raíz del proyecto
# ir a src/config/db-connection.js y configurar conexión a base de datos con siguiente dirección =  

MONGO_URL_ATLAS_REVISION=mongodb+srv://coder_house:coder_house@mongodb.oxberec.mongodb.net/negocio?retryWrites=true&w=majority
